body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

@media (display-mode: standalone) {
  body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
  }
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link);
}

#app {
  height: 100%;
}

#app > *:first-child {
  overflow: hidden;
}

.safe-background {
  padding: var(--safe-padding);
}

.bg-below-top-bar {
  margin-top: var(--top-nav-bar-height);
}

.st-content {
  padding: var(--st-space);
}

.wide-content {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}
