:root {
  --st-space: 16px;
  --safe-padding: env(safe-area-inset-top, var(--st-space))
    env(safe-area-inset-right, var(--st-space))
    env(safe-area-inset-bottom, var(--st-space))
    env(safe-area-inset-left, var(--st-space));
  --top-nav-bar-height: 60px;
  --max-content-width: 1440px;
}
