:root {
  --st-space: 16px;
  --st-space-half: 8px;
  --safe-padding: env(safe-area-inset-top, var(--st-space))
    env(safe-area-inset-right, var(--st-space))
    env(safe-area-inset-bottom, var(--st-space))
    env(safe-area-inset-left, var(--st-space));
  --top-nav-bar-height: 60px;
  --max-content-width: 1440px;

  --color-text-light: white;
  --color-text-dark: black;

  --color-brand: #673ab8;
  --color-brand-text: var(--color-text-light);

  --color-text-1: #000000;
  --color-text-2: #3c3c4399;
  --color-text-3: #3c3c434d;
  --color-text-4: #3c3c434d;
  --color-text-placeholder: #3c3c434d;

  /* track of a slider */
  --color-fill-1: #78788033;
  /* background of a switch */
  --color-fill-2: #78788029;
  /* input fields, search bars, or buttons */
  --color-fill-3: #7676801f;
  /* an expanded table cell */
  --color-fill-4: #74748014;

  --color-bg-1: #ffffff;
  --color-bg-2: #f2f2f7;
  --color-bg-3: #ffffff;

  --color-group-bg-1: #f2f2f7;
  --color-group-bg-2: #ffffff;
  --color-group-bg-3: #f2f2f7;

  --color-blue: rgb(0, 122, 255);
  --color-brown: rgb(162, 132, 94);
  --color-cyan: rgb(50, 173, 230);
  --color-green: rgb(52, 199, 89);
  --color-indigo: rgb(88, 86, 214);
  --color-mint: rgb(0, 199, 190);
  --color-orange: rgb(255, 149, 0);
  --color-pink: rgb(255, 45, 85);
  --color-purple: rgb(175, 82, 222);
  --color-red: rgb(255, 59, 48);
  --color-teal: rgb(48, 176, 199);
  --color-yellow: rgb(255, 204, 0);

  --color-gray: rgb(142, 142, 147);
  --color-gray2: rgb(174, 174, 178);
  --color-gray3: rgb(199, 199, 204);
  --color-gray4: rgb(209, 209, 214);
  --color-gray5: rgb(229, 229, 234);
  --color-gray6: rgb(242, 242, 247);

  --color-link: #007aff;

  --color-separator: #3c3c434a;
  --color-separator-opaque: #c6c6c8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-1: #ffffff;
    --color-text-2: #ebebf599;
    --color-text-3: #ebebf54d;
    --color-text-4: #ebebf529;
    --color-text-placeholder: #ebebf54d;

    --color-fill-1: #7878805c;
    --color-fill-2: #7878805c;
    --color-fill-3: #7676803d;
    --color-fill-4: #7676802e;

    --color-bg-1: #000000;
    --color-bg-2: #1c1c1e;
    --color-bg-3: #2c2c2e;

    --color-group-bg-1: #000000;
    --color-group-bg-2: #1c1c1e;
    --color-group-bg-3: #2c2c2e;

    --color-blue: rgb(10, 132, 255);
    --color-brown: rgb(172, 142, 104);
    --color-cyan: rgb(100, 210, 255);
    --color-green: rgb(48, 209, 88);
    --color-indigo: rgb(94, 92, 230);
    --color-mint: rgb(102, 212, 207);
    --color-orange: rgb(255, 159, 10);
    --color-pink: rgb(255, 55, 95);
    --color-purple: rgb(191, 90, 242);
    --color-red: rgb(255, 69, 58);
    --color-teal: rgb(64, 200, 224);
    --color-yellow: rgb(255, 214, 10);

    --color-gray: rgb(142, 142, 147);
    --color-gray2: rgb(99, 99, 102);
    --color-gray3: rgb(72, 72, 74);
    --color-gray4: rgb(58, 58, 60);
    --color-gray5: rgb(44, 44, 46);
    --color-gray6: rgb(28, 28, 30);

    --color-link: #0984ff;

    --color-separator: #54545899;
    --color-separator-opaque: #38383a;
  }
}
