.form {
  display: flex;
  flex-direction: column;
  row-gap: var(--st-space-half);

  & fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: var(--st-space-half);

    &[name='checkbox'],
    &[name='radio'] {
      .formItem {
        flex-basis: 150px;
      }
    }
  }
}

.formItem {
  flex: 1 1 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--st-space-half);
  margin: var(--st-space-half) 0;

  & label {
    text-transform: capitalize;
  }

  & input[type='file'] {
    max-width: 250px;
    border: 1px solid var(--color-separator);
  }

  & input[type='search'] {
    border: 1px solid var(--color-separator);
  }
}
