.typeTable input[type='file'] {
  width: 100%;
}

.inputField {
  margin: var(--st-space-half) 0;
}

.inputField label {
  margin-right: 0.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: var(--st-space-half);
}

.form fieldset {
  display: flex;
  flex-direction: row;
  gap: var(--st-space-half);
  flex-wrap: wrap;
}

.formItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--st-space-half);
  margin: var(--st-space-half) 0;
}

.formItem label {
  text-transform: capitalize;
}

.formItem input[type='checkbox'],
.formItem input[type='radio'] {
  width: 1em;
  height: 1em;
}
