.navbar {
  & a {
    color: var(--bs-nav-link-color);

    &:visited {
      color: var(--bs-nav-link-color);
    }
  }
}

.favicon {
  --icon-size: 36px;

  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}
