.cell {
  width: 150px;
  height: 80px;
  padding: var(--st-space-half);
  background-color: var(--color-bg-2);
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: var(--st-space-half);
  cursor: pointer;
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--color-separator);
  flex: none;
}

.name {
  flex: 1 0 100%;
  text-align: end;
}

.colorValue {
  flex: 1 1;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  place-content: center;
  gap: var(--st-space);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--st-space-half);
  padding: var(--st-space) 0;
}

.formItem {
  flex: 1 1 auto;
  display: flex;
  align-items: baseline;
  gap: var(--st-space-half);
  font-size: 16px;
}

.formItemContent {
  flex: auto;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 4px;
}

@media (any-pointer: coarse) {
  .formItem {
    font-size: 20px;
  }
}

.formItem > label {
  flex: none;
}
